body{
	background: url(../images/f.png);
}
.header{
	background: url(../images/mountain.jpg);
	height:305px;
	background-size: cover;
	color:pink;
	text-align: center;
	text-shadow: 0 0 50px 	#7B68EE;
}
.I{
	width: 30%;
	text-align: center;
	color: pink;
	font-size: xx-large;
	position: absolute;
	left: 480px;
}
.myphoto{
	loat: right;
	border-radius:50%;
	border: 3px solid pink;
	box-shadow: 0 0 50px #676;
	position: absolute;
	right: 0;
}
.myph{
	width: 50%;
	position: absolute;
	right: 50px;
	top: 350px;

}
.block1{
	height: 425px;
	background: url(../images/f2.jpg);
}
.menu{
	width: 50%;
	position: absolute;
	top: 320px;
	font-size: x-large;
	color: pink;
}
.block2{
	height: 455px;
	background: url(../images/f2.jpg);
}
.myph2{
	width: 30%;
	position: absolute;
	top: 785px;
	right: 935px;
}
.p_education{
	width: 70%;
	position: absolute;
	right: 0;
	text-align: center;
	color: grey;
}
.h{
	color: pink;
}
.list{
	text-align: left;
	font-size: x-large;
	color: #E0FFFF;
}
.block3{
	height: 220px;
	background: url(../images/lav.png);	
	
}
.hobby{
	width: 75%;
	text-align: center;
}
.block4{
	height: 305px;
	background: url(../images/f2.jpg);	
	text-align: center;
}
.u1{
	position: absolute;
	left: 1047px;
	top: 1265px;
}
.list2{
	text-align: left;
	font-size: x-large;
	color: pink;
}
.work{
	text-align: center;
	font-size: large;
	color: pink;
}
.contacts{
	background: url(../images/lav.png);
	text-align: center;
	font-size: large;
	color: pink;
	top: 1500;
}
a{
	color: pink;
}